* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
	
#container {
    width: 500px;
    height: 500px;
    background: #666666;
    margin: 10px auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Audiowide';
    color: #666666;
}
ul li {
    background: #E0E0E0;
    width: 15%;
    height: 75px;
    border: 1px solid #114B5F;
    margin-top: 7px;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
}

h1, h4 {
	color: #F5F5F5;
}

.key1 {
	background: #E1BC3A;
}

.key2 {
	background: #699BE0;
}

.key3 {
	background: #3E8245;
}

.key4 {
	background: #f542ef;
}