* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
	
#container {
    width: 500px;
    height: 500px;
    background: #666666;
    margin: 10px auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Audiowide';
    color: #666666;
}
ul li {
    background: #E0E0E0;
    width: 30%;
    height: 150px;
    border: 1px solid #114B5F;
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
}

h1, h4 {
	color: #F5F5F5;
}

.empty {
    background: #DAD4EF;
    border: 2px solid #114B5F;
}
